.about {
  display: flex;
  flex-direction: column;
  color: rgb(53, 53, 53);
  align-items: center;
  margin-top: 80px;
  margin-left: 250px;
}

.p {
  break-inside: avoid;
  margin-bottom: 1em;
}

.my-picture {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .newspaper {
    column-count: 1;
  }

  .about {
    margin-left: 80px;
  }
}