.about {
  display: flex;
  flex-direction: column;
  color: rgb(53, 53, 53);
  align-items: center;
}


.newspaper {
  column-count: 2;
  column-gap: 30px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  width: 60%;
}

.p {
  break-inside: avoid;
  margin-bottom: 1em;
}

.my-picture {
  display: flex;
  flex-direction: column;
}