.post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts {
    align-items: center;
    display: flex;
    padding: 1em;
    text-indent: 20px;
}

.newspaper {
    width: 80%;
}